@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 5.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

header > .container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: center;
  gap: 6rem;
  /* margin-left: 5rem; */
}

.navbar ul li {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(216, 216, 216);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar ul li:hover {
  opacity: 0.7;
}

.navbar ul li::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  background: #eceba5;
  width: 100%;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.navbar ul li:hover::after {
  transform: scaleX(1);
}

.move-button > button {
  background-color: #eceba5;
  height: 40px;
  width: 90px;
  border: none;
  outline: none;
  color: gray;
  font-weight: bold;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: none;
}

.home {
  height: 100vh;
  display: flex;
  max-width: 1800px;
}

.js-experience {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%); */
}

.js-canvas {
  position: absolute;
}

.about {
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}
